@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.card{
    cursor: pointer;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
}

.navbar {
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  height: 80px;
  z-index: 12;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.logo{
    width: 2.5em;
    height: auto;
    cursor:pointer;
}

*{
  scroll-behavior: smooth;
}

.bullet{
  margin: 0;
}

.line{
  border: 5px solid white;
  size: 3;
  border-radius: 5px;
}