.toggle-label {
    // @apply relative
    position: relative;
    cursor: pointer;
    &:before {
       // @apply absolute
       position: absolute;
       top: 0.250rem;
       left: 0.250rem;
 
       // @apply block
       display: block;
       content: "";
       cursor: pointer;

       // @apply w-5 h-5
       width: 2.50rem;
       height: 2.50rem;
 
       // @apply rounded-full
       border-radius: 9999%;
 
       // @apply bg-white bg-center bg-no-repeat
       background-color: white;
       background-position: center;
       background-repeat: no-repeat;
 
       background-size: 50%;
       background-image: url('images/sun.png');
 
       // @apply transition-transform duration-150 ease-out
       transition: transform .15s cubic-bezier(0, 0, 0.2, 1);
 
       // @apply translate-x-0
       transform: translateX(0);
 
       // @apply shadow
       box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
          0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
 }
 
 .toggle-checkbox:checked + .toggle-label:before {
    transform: translateX(2.95rem);
    background-image: url('images/moon.png')
 }
 
 .toggle {
    &.slim {
       .toggle-label:before {
          top: -0.15rem;
          left: 0;
       }
 
       .toggle-checkbox:checked + .toggle-label:before {
          // @apply translate-x-6;
          transform: translateX(1.75rem);
       }
    }
 
    &.colour {
       .toggle-label {
          // @apply bg-red-300;
          background-color: #feb2b2;
       }
 
       .toggle-checkbox:checked + .toggle-label {
          // @apply bg-green-300;
          background-color: #9ae6b4;
       }
    }
 }
 